streamlit==1.64.0
python-dotenv

langchain
langchain-core
langchain-community
langchain-groq==1.1.3
langchain-google-genai

langgraph
langgraph-checkpoint-sqlite
aiosqlite

langchain-mcp-adapters
mcp

groq==0.37.1

faiss-cpu
pypdf

fastapi
uvicorn[standard]
python-multipart

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
